h1{
    background-color: blueviolet;
font-size: larger;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.ak{
    background-color: #31eb10;
}
label{
    background-color: aqua;
}
input{
    background-color: blueviolet;
    font-style: italic;
}